.backgroundCharacterListCenter {
  top: 126px;
  left: 0;
  right: 0;
  z-index: -1;
  border: 0;
  height: 100vh;
  position: fixed;
  background-image: url("./../images/captain-america.jpg");
  background-position: center;
}
.backgroundCharacterList {
  position: relative;
}

.inputSearch {
  justify-content: center;
  padding-top: 50px;
  display: flex;
  position: fixed;
  top: 125px;
  left: calc(50% - 297px);
  font-size: 18px;
  padding-left: 20px;
}

.inputSearch input {
  border-radius: 15px;
  border: none;
  margin-right: 31px;
  height: 53px;
  width: 428px;
  background-color: black;
  color: white;
}

.inputSearch button {
  width: 135px;
  border: none;
  background-color: #ee171f;
  border-radius: 100px;
  color: white;
}

.charactersTile {
  margin: auto;
  margin-right: 42px;
  padding-top: 61px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 200px;
}

h4 {
  color: #1b2936;
  margin-top: 36px;
}
