.comicsList {
  display: flex;
  margin: auto;
  padding-top: 225px;
  flex-wrap: wrap;
}

.backgroundComicListCenter {
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border: 0;
  height: 100vh;
  position: fixed;
  background-image: url("./../images/comiiiics.jpg");
}
