.characterTile {
  display: flex;
  border-bottom-right-radius: 5%;
  flex-direction: column;

  background: linear-gradient(45deg, #151515, #1a1c20);
  color: white;
  width: 200px;
  margin: 90px 30px -7px 30px;
  box-shadow: 9px 6px 7px 4px rgba(0, 0, 0, 0.75);
}
.characterTile :hover {
  width: 220px;
}

.characterImg {
  width: 200px;
  height: 200px;
  margin-bottom: 7px;
}

.characterName {
  width: 100%;
  /* margin: 37px 115px 0px 0px; */
  overflow: hidden;
  /* white-space: nowrap; */
  height: 120px;
}

h4 {
  margin-bottom: 17px;
  font-size: 21px;
  color: #ff1010;
}
