.Header {
  background-color: #ee171f;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 18px solid black;
  height: 125px;
  position: fixed;
  top: 0;
  z-index: 2;
}
.flex {
  display: flex;
}
.Logo-Marvel {
  height: 100px;
  width: 300px;
  margin: 15px;
}

.button {
  border: 2px solid white;
  color: white;

  height: 45px;
  width: 191px;
  border-radius: 81px;
  margin-top: 65px;
  margin-right: 12px;
  background: linear-gradient(45deg, black, transparent);
}

.pointeur {
  cursor: pointer;
}
