.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid white;
  height: 125px;
  position: fixed;
  top: 0;
  z-index: 2;
}
.flex {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: inherit;
  background-color: #202020;
}
.Logo-Marvel {
  height: 100px;
  width: 300px;
  margin: 15px;
}

.button {
  color: white;
  border-radius: 7px;
  height: 42px;
  width: 161px;
  margin: 6px 37px;
  background: linear-gradient(45deg, black, transparent);
  cursor: pointer;
  border: none;
  border-top: 2px solid;
}
button :hover {
  background-color: green;
}

.pointeur {
  cursor: pointer;
}

.firstColumn {
  display: flex;
  flex-direction: column;
}
.lastColumn {
  display: flex;
  flex-direction: column;
}
.mid {
}
